@model IEnumerable<MashtiHasanRestaurant.Core.DTOs.FoodItemViewModel>
<section id="hero" class="hero section light-background">

    <div class="container">
        <div class="row gy-4 justify-content-center justify-content-lg-between">
            <div class="col-lg-5 order-2 order-lg-1 d-flex flex-column justify-content-center">
                <h1 data-aos="fade-up" class="aos-init aos-animate">Enjoy Your Healthy<br>Delicious Food</h1>
                <p data-aos="fade-up" data-aos-delay="100" class="aos-init aos-animate">We are team of talented designers making websites with Bootstrap</p>
                <div class="d-flex aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
                    <a href="#book-a-table" class="btn-get-started">Booka a Table</a>
                    <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>
                </div>
            </div>
            <div class="col-lg-5 order-1 order-lg-2 hero-img aos-init aos-animate" data-aos="zoom-out">
                <img src="assets/img/hero-img.png" class="img-fluid animated" alt="">
            </div>
        </div>
    </div>

</section>
<section id="menu" class="menu section">
    <div class="container section-title" data-aos="fade-up">
        <h2>Our Menu</h2>
        <p><span>Check Our</span> <span class="description-title">Yummy Menu</span></p>
    </div>

    <div class="container">
        <ul class="nav nav-tabs d-flex justify-content-center" role="tablist">
            @foreach (var categoryGroup in Model.GroupBy(m => new { m.CategoryName, m.CategoryId }))
            {
                <li class="nav-item" role="presentation">
                    <button class="nav-link @(Model.First().CategoryName == categoryGroup.Key.CategoryName ? "active" : "")"
                            data-bs-toggle="tab"
                            data-bs-target="#menu-@categoryGroup.Key.CategoryId"
                            type="button"
                            role="tab">
                        <h4>@categoryGroup.Key.CategoryName</h4>
                    </button>
                </li>
            }
        </ul>

        <div class="tab-content">
            @foreach (var categoryGroup in Model.GroupBy(m => new { m.CategoryName, m.CategoryId }))
            {
                <div class="tab-pane fade @(Model.First().CategoryName == categoryGroup.Key.CategoryName ? "show active" : "")"
                     id="menu-@categoryGroup.Key.CategoryId" role="tabpanel">
                    <div class="tab-header text-center">
                        <p>Menu</p>
                        <h3>@categoryGroup.Key.CategoryName</h3>
                    </div>

                    <div class="row gy-5">
                        @foreach (var item in categoryGroup)
                        {
                            <div class="col-lg-4 menu-item">
                                <a href="@Url.Content("~/assets/img/menu/menu-item-" + item.FoodId + ".png")" class="glightbox">
                                    <img src="@Url.Content("~/assets/img/menu/menu-item-" + item.FoodId + ".png")" class="menu-img img-fluid" alt="@item.FoodName">
                                </a>

                                <h4>@item.FoodName</h4>
                                <p class="ingredients">@item.Ingredients</p>
                                <p class="price">$@item.UnitPrice</p>
                            </div>
                        }
                    </div>
                </div>
            }
        </div>
    </div>
</section>

<!-- Ensure Bootstrap JavaScript is included -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
