@model IEnumerable<MashtiHasanRestaurant.DataLayer.Entities.Food>

@{
    ViewData["Title"] = ViewData["GroupName"];
}

<h1>محصولات گروه @ViewData["GroupName"]</h1>
<hr />

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-lg-4 menu-item">
            <a href="@Url.Content("~/assets/img/menu/menu-item-" + item.FoodId + ".png")" class="glightbox">
                <img src="@Url.Content("~/assets/img/menu/menu-item-" + item.FoodId + ".png")" class="menu-img img-fluid" alt="@item.FoodName">
            </a>

            <h4>@item.FoodName</h4>
            <p class="ingredients">@item.Ingredient</p>
            <p class="price">$@item.UnitPrice</p>
        </div>
    }
</div>
