@model IEnumerable<MashtiHasanRestaurant.Core.DTOs.FoodItemViewModel>
@{
    ViewData["Title"] = "ShowGroup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>محصولات گروه @ViewData["GroupName"]</h1>
<hr />

<div class="row" >
    @foreach (var item in Model)
    {
        <div class="col-lg-4 menu-item  text-center">
            <a href="@Url.Content("~/assets/img/menu/menu-item-" + item.FoodId + ".png")" class="glightbox">
                <img src="@Url.Content("~/assets/img/menu/menu-item-" + item.FoodId + ".png")" class="img_food menu-img img-fluid" alt="@item.FoodName">
            </a>

            <h4 class="text-center">@item.FoodName</h4>
            <p class="ingredients text-center">@item.Ingredients</p>
            <p class="price text-center">$@item.UnitPrice</p>
        </div>
    }
</div>
@section Scripts {
    <script src="/assets/js/main.js"></script>
}



